.dashboardContainer {
  padding-inline: 2rem;
  padding-block: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--ff-primary);
}

.dashboardContainer h1 {
  font-weight: var(--fw-1);
  font-size: var(--fs-3);
  color: var(--clr-primary);
  padding-block: 1rem;
  text-align: center;
}

.tablefilterCOntainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.filtersToggle {
  cursor: pointer;
  font-size: var(--fs-1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 160px;
}

.filtersToggle:hover {
  color: var(--clr-primary);
}

.filters {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.filters div {
  display: flex;
  flex-direction: column;
}

.filters label {
  margin: 0.25rem 0;
}

.tableWrapper {
  background-color: var(--clr-neutral-gray);
  max-height: 390px;
  overflow-y: auto;
  scrollbar-width: none;
  border: 1px solid var(--clr-primary);
  border-radius: 8px;
  margin-bottom: 20px;
  flex: 1;
}

.tableWrapper::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--clr-primary);
  font-size: var(--fs-1);
}

.table thead {
  position: sticky;
  top: 0;
  color: var(--clr-neutral-white);
  z-index: 1;
}

.table th {
  background-color: var(--clr-primary);
  font-weight: var(--fw-2);
}

.table tr:hover {
  background-color: var(--clr-neutral-white);
}

.tableTitle {
  font-size: var(--fs-2);
  color: var(--clr-primary);
  padding-block: 1rem;
  text-align: center;
}

.equipmentIcon img {
  max-width: 24px;
  max-height: 24px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.infoLink {
  color: var(--clr-links);
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

.mapWrapper {
  height: 400px;
  width: 100%;
  box-shadow: 0 0 1rem var(--clr-neutral-black);
  border-radius: 1rem;
  margin-block: 2rem;
}

.state {
  color: var(--clr-neutral-white);
}

@media (max-width: 57rem) {
  .tablefilterCOntainer {
    flex-direction: column;
  }

  .filters {
    flex-direction: row;
  }
}

@media (max-width: 45rem) {
  .dashboardContainer {
    padding-inline: 1rem;
  }

  .filtersToggle {
    font-size: var(--fs-0);
  }

  .filters {
    font-size: var(--fs-0);
  }

  .tableTitle {
    font-size: var(--fs-1);
  }

  .table th,
  .table td {
    padding: 0.75rem;
    font-size: var(--fs-0);
  }

  .equipmentIcon img {
    max-width: 18px;
    max-height: 18px;
  }
}

@media (max-width: 45rem) {
  .displaynone {
    display: none;
  }

  .dashboardContainer h1 {
    font-size: var(--fs-2);
  }
}
